@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.containerStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  position: relative;
}

.circleStyle {
  display: block;
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  border: 0.15rem solid transparent;
  border-top: 0.15rem solid white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 1s ease-in-out infinite;
}
